h1{
  font-family: quicksand, Arial;
}

/* Container for the cards */
.container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  color: #111;
  font-family: quicksand, Arial;
}

/* Flip card container */
.flip-card {
  background-color: transparent;
  width: calc(50% - 15px);/*2 cards per row*/
  height: 400px;
  perspective: 1000px;
  margin-bottom: 20px;
  cursor: pointer; /* Indicates clickable */
}

/* Inner container for front and back */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Flip when 'flipped' class is added 
.flip-card-inner.flipped {
  transform: rotateY(180deg);
}*/

/* Position front and back */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Style the front side */
.flip-card-front {
  background-color: #fff;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

/* Image styling for front */
.flip-card-front .image {
  height: 250px;
  width: 250px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text styling for front */
.flip-card-front .name_job {
  margin-top: 10px;
  color: #00a86b;
  font-size: 30px;
  font-weight: 600;
}

/* Image styling for back */
.flip-card-back img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
  .flip-card {
      width: 100%; /* 1 card per row on phones */
  }
}